@font-face {
  font-family: 'Rajdhani Regular';
  src: url(../fonts/Rajdhani-Regular.ttf) format('opentype');
}

.profile {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.description {
  font-size: 4vmax;
  letter-spacing: .5vw;
  color: rgb(255, 216, 58);
}

h1 {
  max-width: 100vw;
  min-width: 100vw;
  font-size: 8vmax;
  animation: expand-shadow 8s ease-in-out infinite;
  font-family: 'Rajdhani Regular';
  letter-spacing: .25vw;
  color: rgb(255, 230, 130);
  -webkit-font-smoothing: antialiased;
}

.passion {
  font-size: 4vmax;
  -webkit-font-smoothing: antialiased;
  text-align: left;
  padding: 0 30vw;
  text-shadow: 0px 0px 3px rgb(80, 72, 11);
}

@keyframes expand-shadow {
  0% {
    text-shadow: .01em .01em 0px rgb(243, 218, 119),
                 .02em .02em 0px rgb(199, 173, 69),
                 .03em .03em 0px rgb(179, 153, 54),
                 .04em .04em 0px rgb(104, 81, 41),
                  0em  0em 1em rgb(24, 50, 63),
                  0em  0em 2em rgb(24, 58, 75),
                  0em  0em 3em rgba(243, 218, 119, 0.3);
  }
  50% {
    text-shadow: .1vh .1vh 0px rgb(243, 218, 119),
                 .3vh .3vh 0px rgb(199, 173, 69),
                 .5vh .5vh 0px rgb(179, 153, 54),
                 .7vh .7vh 0px rgb(104, 81, 41),
                  0vh  0vh 3vh rgb(24, 50, 63),
                  0vh  0vh 4vh rgb(24, 58, 75),
                  0vh  0vh 6vh rgba(243, 218, 119, 0.3);
  }
  99% {
    text-shadow: .01em .01em 0px rgb(243, 218, 119),
                 .02em .02em 0px rgb(199, 173, 69),
                 .03em .03em 0px rgb(179, 153, 54),
                 .04em .04em 0px rgb(104, 81, 41),
                  0em  0em 1em rgb(24, 50, 63),
                  0em  0em 2em rgb(24, 58, 75),
                  0em  0em 3em rgba(243, 218, 119, 0.3);
  }
}
