@import url('https://fonts.googleapis.com/css?family=Rajdhani');

.profile {
  position: absolute;
  top: 0;
  left: 0;
}

.description {
  width: 100vw;
  margin: 0 27vw;
  font-size: 4vh;
  letter-spacing: .25em;
  color: rgb(255, 216, 58);
}

.moon {
  font-size: 128px;
  letter-spacing: .25em;
  color: rgb(255, 216, 58);
  animation: 7.7s ease-in-out infinite moon-glow;
  margin: 27vw;
  padding: 0;
}


h1 {
  max-width: 9em;
  margin: 0 1em;
  padding: 0;
  animation: expand-shadow 8s ease-in-out infinite;
  font-family: 'Rajdhani';
  text-align: center;
  letter-spacing: .25vw;
  font-size: 13vh;
  color: rgb(255, 230, 130);
  -webkit-font-smoothing: antialiased;
  z-index: 0;
}

p {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-size: 36px;
  text-shadow:   0px 1px 0px rgb(165, 160, 20),
                 0px 2px 0px rgb(116, 101, 17),
                 0px 0px 5px rgb(80, 70, 11),
                 0px 0px 5px rgb(80, 72, 11);
}

@keyframes expand-shadow {
  0% {
    text-shadow: .01em .01em 0px rgb(243, 218, 119),
                 .02em .02em 0px rgb(199, 173, 69),
                 .03em .03em 0px rgb(179, 153, 54),
                 .04em .04em 0px rgb(104, 81, 41),
                  0em  0em 1em rgb(24, 50, 63),
                  0em  0em 2em rgb(24, 58, 75),
                  0em  0em 3em rgba(243, 218, 119, 0.3);
  }
  50% {
    text-shadow: .1vh .1vh 0px rgb(243, 218, 119),
                 .3vh .3vh 0px rgb(199, 173, 69),
                 .5vh .5vh 0px rgb(179, 153, 54),
                 .7vh .7vh 0px rgb(104, 81, 41),
                  0vh  0vh 3vh rgb(24, 50, 63),
                  0vh  0vh 4vh rgb(24, 58, 75),
                  0vh  0vh 6vh rgba(243, 218, 119, 0.3);
  }
  99% {
    text-shadow: .01em .01em 0px rgb(243, 218, 119),
                 .02em .02em 0px rgb(199, 173, 69),
                 .03em .03em 0px rgb(179, 153, 54),
                 .04em .04em 0px rgb(104, 81, 41),
                  0em  0em 1em rgb(24, 50, 63),
                  0em  0em 2em rgb(24, 58, 75),
                  0em  0em 3em rgba(243, 218, 119, 0.3);
  }
}


@keyframes moon-glow {
  0% {
    text-shadow: .1em  .1em 1em rgba(243, 218, 119, .6),
                -.1em -.1em 1em rgba(243, 218, 119, .6);
  }
  50% {
    text-shadow: .1em  .1em 8em rgba(243, 218, 119, .6),
                -.1em -.1em 8em rgba(243, 218, 119, .6);
  }
  99% {
    text-shadow: .1em  .1em 1em rgba(243, 218, 119, .6),
                -.1em -.1em 1em rgba(243, 218, 119, .6);
  }
}

