@font-face {
  font-family: 'Abel Regular';
  src: url(./fonts/Abel-Regular.ttf) format('opentype');
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(0, 15, 25);
  font-family: 'Abel Regular';
}
